@import "../../styles/variables.css";

.sectionThumbnails {
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: auto;
  row-gap: var(--size-spacer-small);
  padding: var(--size-spacer-small) 0;
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: auto auto auto;
    row-gap: var(--size-spacer-medium);
    column-gap: var(--size-spacer-medium);
    padding: var(--size-spacer-medium);
  }
}
